<section id="signin" class="full-height cl-pd-tp-60 ng-scope">
<div>
 <div class="register-box" style="width:100%">
 		<div class="register-box-body">
		<h3 class="text-center">Welcome <strong><%= current_user.email %></strong>.</h3>
		</div>
</div>
</div>
</section>