<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"   data-target="#navbar-collapse" aria-expanded="false">
				 <span class="sr-only">Toggle navigation</span>
        		 <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
			</button>
			<%= link_to "Demo", root_path, :class => 'navbar-brand' %>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
			<% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
              <span class="glyphicon glyphicon-picture"></span> Photos <span class="caret"></span>
                <ul class="dropdown-menu">
          		    <li><a href="/photos">
                    <span class="glyphicon glyphicon-th-large"></span>View All
                  </a></li>
                  <li><a href="/photos/new">
                    <span class="glyphicon glyphicon-upload"></span>Upload new image
                  </a></li>
                </ul>
          </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <span class="glyphicon glyphicon-picture"></span> Videos <span class="caret"></span>
                <ul class="dropdown-menu">
                  <li><a href="/videos">
                    <span class="glyphicon glyphicon-th-large"></span>View All
                  </a></li>
                  <li><a href="/videos/new">
                    <span class="glyphicon glyphicon-upload"></span>Upload new video
                  </a></li>
                </ul>
              </li>
        </ul>
              <ul class="nav navbar-nav navbar-right">
          		  <li><a href="/users/edit">
                  <span class="glyphicon glyphicon-pencil"></span>Edit Profile
                </a></li>
              </ul>
              <!--%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>-->
              
              <!--%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></span>-->
              <ul class="nav navbar-nav navbar-right">
                <li><a rel="nofollow" data-method="delete" href="/users/sign_out">
                  <span class="glyphicon glyphicon-off"></span>LogOut
                </a></li>
              </ul>
              <% else %>

               
               <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/sign_in">
                  <span class="glyphicon glyphicon-log-in"></span>SignIn
                </a></li>
               </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/sign_up">
                  <span class="glyphicon glyphicon-user"></span>SignUp
                </a></li>
               </ul>



               <!--%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>-->
               <!--%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>-->
      <% end %>
	 	</div>
	</div>
</nav>